a, a:link {
    text-decoration: underline;
    color: #bbe1fa;
}

.main {
    background-color: #142850;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23142850' cx='50' cy='0' r='50'/%3E%3Cg fill='%231d3058' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2325385f' cx='50' cy='100' r='50'/%3E%3Cg fill='%232d4067' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2336486f' cx='50' cy='200' r='50'/%3E%3Cg fill='%233e5177' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23455a80' cx='50' cy='300' r='50'/%3E%3Cg fill='%234e6388' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23566c90' cx='50' cy='400' r='50'/%3E%3Cg fill='%235e7599' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23667ea1' cx='50' cy='500' r='50'/%3E%3Cg fill='%236e87aa' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237691b2' cx='50' cy='600' r='50'/%3E%3Cg fill='%237f9bbb' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2387a4c4' cx='50' cy='700' r='50'/%3E%3Cg fill='%2390aecd' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2398b8d6' cx='50' cy='800' r='50'/%3E%3Cg fill='%23a1c2df' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a9cce8' cx='50' cy='900' r='50'/%3E%3Cg fill='%23b2d7f1' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bbe1fa' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 95%;
    max-width: 1550px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.table {
    margin: 50px 0;
    color: #bbe1fa;
    max-width: 1550px;
    font-family: 'Ubuntu', sans-serif; 
}

.table a, .table a:link {
    text-decoration: underline;
    color: #bbe1fa;
}

.tableHead {
    height: 80px;
    width: 100%;
    overflow: hidden;
    font-family: 'SourceSans', sans-serif;
}

.tableHead h1 {
    font-size: 1.5rem;
}

.row {
    height: 100%;
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 1.2fr 0.9fr 0.9fr 0.8fr;
}

.tableHead > .row {
    background-color: #142850;
}

.tableHead >.row > .col {
    border-right: 1px solid #0f4c75;
}

.tableBody {
    height: 500px;
    overflow: auto;
    display: block;
    background-color: #0f4c75;
}

.tableBody > .row {
    height: 250px;
}

.tableBody > .row > .col {
    border: 1px solid #142850;
    font-size: 15px;
}

.tableBody > .row > .col > h2  {
    font-size: 1.27em;
}

.tableBody > .row > .col > h2 > span, .tableBody > .row > .col > h2 > em {
    display: inline-block;
    max-width: 18vw;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.col {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
}

.col img {
    width: 90%;
    max-width: 160px;
}

.col img:hover {
    position: relative;
    left: 100px;
    top: 100px;
    transform: scale(1.8);
}

.tableBody > .row >.col img.pen {
    width: 70%;
    max-width: 100px;
}

.tableBody > .row >.col img.pen:hover {
    position: unset;
    transform: scale(1.1);
    box-shadow: 10px 5px 5px #142850b0;
    border: 1 solid black;
    background-color: #3282b8;
}

.disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    text-align: center;
    font-size: min(1.5vw, 15px);
}

.tableBody::-webkit-scrollbar {
    width: 10px;
}
.tableBody::-webkit-scrollbar-thumb {
    background: #bbe1fa;
    border-radius: 10px;
}
.tableBody::-webkit-scrollbar-track {
    background: #142850;
}

.article {
    height: 225px; 
    width: 85%;
    margin: 50px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142850;
    opacity: 0;
    border: 3px solid #bbe1fa;
    border-radius: 5px;
}

.review {
    color: #bbe1fa;
    font-size: min(1.5rem, 20px);
    font-family: 'Ubuntu', sans-serif;
    width: 90%;
}

@media screen and (min-width: 320px) and (max-width: 400px) {

    .tableHead {
        height: 40px;
    }
    
    .tableBody {
        height: 225px;
    }

    .tableBody > .row {
        height: 80px;
    }

    .tableBody > .row > .col > img {
        width: 100%;
    }

    .tableHead > .row > .col > h1 {
        font-size: 10px;
    }

    .tableBody > .row > .col > h2 {
        font-size: 7px;
    }

    .col img:hover {
        left: 50px;
        top: 25px;
    }

    .review {
        font-size: 13px;
    }
    
    .article {
        margin-top: 0px;
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 401px) and (max-width: 550px) {

    
    .tableHead {
        height: 50px;
    }

    .tableBody {
        height: 300px;
    }

    .tableBody > .row {
        height: 100px;
    }

    .tableBody > .row > .col > img {
        width: 90%;
    }

    .tableHead > .row > .col > h1 {
        font-size: 13px;
    }

    .tableBody > .row > .col > h2 {
        font-size: 9px;
    }

    .col img:hover {
        left: 50px;
        top: 35px;
    }

    .review {
        font-size: 15px;
    }

    .article {
        margin-top: 0px;
        margin-bottom: 25px;
    }

}

@media screen and (min-width: 551px) and (max-width: 800px) {

    .tableHead {
        height: 60px;
    }
    
    .tableBody {
        height: 300px;
    }

    .tableBody > .row {
        height: 150px;
    }

    .tableBody > .row > .col > img {
        width: 90%;
    }

    .tableHead > .row > .col > h1 {
        font-size: 16px;
    }

    .tableBody > .row > .col > h2 {
        font-size: 12.5px;
    }

    .col img:hover {
        left: 50px;
        top: 45px;
    }

    .review {
        font-size: 15px;
    }

}