.main {
    padding: 12vh 0;
    background-color: #525252;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23525252' cx='50' cy='0' r='50'/%3E%3Cg fill='%234f4f4f' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%234d4d4d' cx='50' cy='100' r='50'/%3E%3Cg fill='%234a4a4a' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23484848' cx='50' cy='200' r='50'/%3E%3Cg fill='%23454545' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23434343' cx='50' cy='300' r='50'/%3E%3Cg fill='%23404040' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%233e3e3e' cx='50' cy='400' r='50'/%3E%3Cg fill='%233c3c3c' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23393939' cx='50' cy='500' r='50'/%3E%3Cg fill='%23373737' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343434' cx='50' cy='600' r='50'/%3E%3Cg fill='%23323232' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23303030' cx='50' cy='700' r='50'/%3E%3Cg fill='%232d2d2d' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%232b2b2b' cx='50' cy='800' r='50'/%3E%3Cg fill='%23292929' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23262626' cx='50' cy='900' r='50'/%3E%3Cg fill='%23242424' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23222222' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container{
    width: 95%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.txt {
    width: 75%;
    height: 100%;
    background-color: #414141;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: 5px solid #313131;
    margin: 0px 10px;
}

.txt h1 {
    color: #ca3e47;
    text-decoration: underline;
    display: inline-block;
}

.emoji {
    display: inline-block;
    text-decoration: none;
    margin-left: 7px;
    font-size: 2em;
}

.resume {
    visibility: hidden;
    width: 40vw;
    background-color: #313131de;
    color: #ca3e47;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif; 
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    margin-top: 50px;
    right: 25%;
    position: absolute;
    z-index: 1;
}

.emoji:hover ~ .resume {
    visibility: visible;
}

.txt > p {
    max-width: 80%;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;  
    color: #ca3e47;
}

.txt a, .txt a:link {
    color: #ca3e47;
    text-decoration: underline;
}

.imgRight {
    width: auto;
    height: 100%;
    background-color: #414141;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding: 0px 10px;
    border: 5px solid #313131;
    order: 2;
}

.img {
    width: auto;
    height: 100%;
    background-color: #414141;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding: 0px 10px;
    border: 5px solid #313131;
}

.img > img, .imgRight > img  {
    height: 90%;
    border-radius: 15px;
}

.img img:hover, .imgRight img:hover  {
    transform: scale(1.9);
}

@media screen and (max-width: 700px) {

    .main {
        padding: unset;
        padding-top: 5vh;
        padding-bottom: 20vh;
    }

    .container {
        height: 450px;
        flex-wrap: wrap;
        box-sizing: border-box;
        flex-direction: row;
        margin: 0 0;
    }

    .img, .txt, .imgRight {
        height: 40%;
    }

    .txt {
        width: 95%;
        order: 2;
    }

    .txt h1 {
        font-size: 4.5vw;
    }

    .emoji {
        font-size: 3.2vw;
    }

    .resume {
        width: 65vw;
    }

    .txt p {
        font-size: 75%;
    }

}

@media screen and (min-width: 701px) and (max-width: 950px) {

    .txt h1 {
        font-size: 3vw;
    }

    .emoji {
        font-size: 3vw;
    }

    .resume {
        width: 50vw;
    }

    .txt p {
        font-size: 2vw;
    }

}